<h3>关<span>于</span>我</h3>
<div class="about-grid">
    <!--采用栅格系统进行定位，关于我的介绍-->
    <div class="col-md-4 about-left">
        <img class="img-responsive" src="images/ttt.jpg" alt=""/>

        <p>
            <span ng-repeat="item in base.base">{{item}}</span>
        </p>

    </div>
    <div class="col-md-8 about-right">
        <p>
        <h5>个人简介</h5>
                        <span ng-repeat="item in base.introduction">
                        {{item}}
                        </span>
        </p>
        <a class="more" ng-click="showClass('experience')">更多信息</a>

        <p>
        <h5>研究(求职)方向</h5>
                        <span ng-repeat="item in base.research">
                        {{item}}
                        </span>
        </p>
        <a class="more" ng-click="showClass('skill')">更多信息</a>

    </div>
    <div class="clearfix"></div>
</div>
