<div class="container">
    <h3>个<span>人经</span>历</h3>
    <div class="showSlider">
        <div id="sliderList" class="sliderList">
            <div class="list-item">
                <img src="images/exp3.jpg" alt="3" class="itemimg" ng-class="getItemImg(2)"/>
                <span class="item-span"  ng-class="getItemSpan(2)">2013年9月-至今，就读于华中科技大学软件学院软件工程专业</span>
            </div>
            <div class="list-item">
                <img src="images/exp1.jpg" alt="1" class="itemimg" ng-class="getItemImg(0)"/>
                <span class="item-span"  ng-class="getItemSpan(0)">2006年9月-2010年6月,就读于华中科技大学管理学院信息管理与信息系统专业</span>
            </div>
            <div class="list-item">
                <img src="images/exp2.jpg" alt="2" class="itemimg" ng-class="getItemImg(1)"/>
                <span class="item-span"  ng-class="getItemSpan(1)">2010年7月-2013年4月,就职于甘肃省酒泉钢铁集团信息化管理中心，负责集团公司内部软件的开发和维护</span>
            </div>
            <div class="list-item">
                <img src="images/exp3.jpg" alt="3" class="itemimg" ng-class="getItemImg(2)"/>
                <span class="item-span"  ng-class="getItemSpan(2)">2013年9月-至今，就读于华中科技大学软件学院软件工程专业</span>
            </div>
            <div class="list-item">
                <img src="images/exp1.jpg" alt="1" class="itemimg" ng-class="getItemImg(0)"/>
                <span class="item-span"  ng-class="getItemSpan(0)">2006年9月-2010年6月就读于华中科技大学管理学院信息管理与信息系统专业</span>
            </div>
        </div>

        <a class="showLeft" my-click act="left"></a>
        <a class="showRight" my-click act="right"></a>
    </div>

</div>
<div id="buttons" class="buttons">
    <span ng-repeat=" item in buttons track by $index"
          ng-class="item"  index="{{$index}}" my-slider></span>
</div>
<ul class="sliderUl" >
    <li ng-repeat=" item in data"><img src="{{item.img}}"   class="img-responsive" ng-class="getLiClass(item.id)"/><span>{{item.span}}</span></li>
</ul>