<!--bootstrap container-->
<div class="container home-base" >
    <div  >
    <!--logo div first line start-->
    <div class="header-matter">
        <div class="logo4header">
            <a ><img class="img-responsive img-customeheight" src="images/3.png"  alt=""/></a>
            <p>慕阳<br>myzhibie@foxmail.com </p>
        </div>

        <div class="head-grid">
            <div class="me grid-me " >
                <a href="#about"  my-redirect><img class="img-responsive clock-item" src="images/my.png" alt=""> </a>
                <h6>关于我</h6>
            </div>
            <div class="me">
                <img class="img-responsive img-customeheight" src="images/pic.jpg" alt=""/>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!--logo div first line end-->
    <!--logo div second line start-->
    <div class="grid-header">
        <div class="grid-ex grid-me ">
            <a href="#experience" my-redirect><img class="clock" src="images/pen.png" alt=""/> </a>
            <h6>个人经历</h6>
        </div>
        <div class="grid-ex grid-pro ">
            <a href="#project" my-redirect><img class="clock" src="images/tv.png" alt=""/> </a>
            <h6>项目经历</h6>
        </div>
        <div class="grid-ex">
            <img class="img-responsive img-customeheight" src="images/pic1.jpg" alt=""/>
        </div>
        <div class="grid-ex">
            <img class="img-responsive img-customeheight" src="images/pic5.jpg" alt=""/>
        </div>
        <div class="grid-ex grid-me ">
            <a href="#skill" my-redirect><img class="clock" src="images/rou.png" alt=""/> </a>
            <h6>个人技能</h6>
        </div>
        <div class="grid-ex">
            <img class="img-responsive img-customeheight" src="images/pic_my.jpg" alt="" />
        </div>

        <div class="clearfix"> </div>

    </div>
    <!--logo div second line end-->
    <!--logo div third line start-->
    <div class="grid-header-contact">
        <div class="grid-msg">
            <img class="img-responsive img-customeheight" src="images/pic4.jpg" alt=""/>
        </div>
        <div class="grid-msg grid-me " >
            <a href="#contact" my-redirect><img class="clock" src="images/me.png" alt="" /> </a>
            <h6>联系我</h6>
        </div>
        <div class="grid-msg msg-head">
            <img class="img-responsive img-customeheight" src="images/pic2-3.jpg" alt=""/>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--logo div third line end-->
    </div>
    <div class="up">
        <a href="#about" my-redirect ><img class="up-grid" src="images/up.png" alt=""/> </a>
    </div>

</div>
<!--bootstrap container end-->