<div class="ti_header"></div>
<div class="tl_container">
    <div class="tl_content" id="tl_content" >
        <div ng-repeat="(key,val) in list" >
            <div class="tl_content_year" id="content_year_{{getYear(key)}}">
                {{getYear(key)}}
            </div>
            <div  ng-repeat="(key1,val1) in val">
                <div class="tl_content_month" id="content_month_{{getYear(key)}}_{{getMonth(key1)}}"
                    >{{getMonth(key1)}}月
                </div>
                <div ng-repeat="(key3,val3) in val1 "
                     class="tl_content_item tl_content_item_left ">
                    <div class="tl_content_item_icon_arrow"></div>
                    <div class=" tl_content_item_icon_dot" set-pos ng-class="getParentHigh(val3.id)">
                        <div class="tl_content_item_icon_dot_child" ng-class="getChildHigh(val3.id)" ></div>
                    </div>
                    <div class="tl_content_item_head">
                        <div class="tl_content_item_head_title">
                            <div class="tl_content_item_head_title_lunar">
                                {{getLunar(val3.date)}}
                            </div>
                            {{val3.date}} <img src='images/palm.png'  width="100" height="50" class="tl_palm">
                        </div>
                        <div class="tl_content_item_head_intro">
                            <i class="tl_ui_icon tl_quote_before"></i>
                            {{val3.intro}}
                            <i class="tl_ui_icon tl_quote_after"></i>
                        </div>
                    </div>
                    <!--<div class="tl_content_item_media">-->
                        <!--<img src={{val3.media}} width='600' height="100">-->
                    <!--</div>-->
                </div>
            </div>
        </div>

        <div class='tl_content_year' id='content_month_0_0' >开始</div>
    </div>
</div>